.filter-container {
  position: fixed;
  top: 92px;
  right: 20px;
  z-index: 999;
}

@media (max-width: 768px) {
  .filter-container {
    position: static;
    margin-top: 20px;
    text-align: center;
  }

  .filter {
    flex-direction: column;
    align-items: center;
  }

  .filter-input {
    margin-bottom: 10px;
    width: 100%;
    max-width: 200px;
  }

  .dropdown-content {
    width: 100%;
    max-width: 200px;
    left: 50%;
    transform: translateX(-50%);
  }

  .dropdown-item {
    color: #fffcfc; /* Change the color to your desired value */
  }

  .dropdown-item:hover {
    background-color: #f1f1f1;
    color: #333;
  }
}
