.heading-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  /* Set the container height to fill the viewport */
}

.heading {
  color: white;
}
